/* Global Vaiables Start*/
:root {
  --primary-color: #f8e326;
  --text-primary-color: #3b3b3b;
}
/* Global Vaiables End*/

/* Base Styles Start */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--text-primary-color);
}

li {
  list-style: none;
}

.section-container {
  width: 100%;
}
/* Base Styles End */

/* Header Start */
.header-container {
  background: var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 110px;
  height: 110px;
  margin: 20px 0 20px 50px;
}
.header-nav-links-container {
  width: 662px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}
.header-nav-link {
  font-size: 36px;
}
@media (max-width: 900px) {
  .header-nav-links-container {
    display: none;
  }
}
/* Header End */

/* Homepage Start */
.homepage-container {
  background: rgba(0, 0, 0, 0.781);
  position: relative;
  width: 100%;
  height: 755px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage-column-text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homepage-title {
  color: var(--primary-color);
  font-size: 58px;
  height: 75px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
}
.homepage-text {
  color: var(--primary-color);
  font-size: 40px;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
}
.homepage-column-image {
  width: 50%;
  height: 755px;
  background: black;
  opacity: 0.5;
}
.homepage-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Homepage End */

/* About Page Start */
.about-container {
  width: 100%;
  height: 755px;
  display: flex;
}
.about-image-container {
  background: rgba(0, 0, 0, 0.781);
  position: relative;
  width: 50%;
  height: 755px;
  flex-shrink: 1;
  flex-grow: 1;
}
.about-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.about-text-container {
  background: rgba(0, 0, 0, 0.781);
  color: var(--primary-color);
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 2;
  flex-grow: 2;
}
.about-text-container h1 {
  font-size: 58px;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
}
.about-text-columns {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.about-text-columns p {
  margin-left: 25px;
  margin-right: 25px;
}
/* About Page End */

/* Trainers Page Start */
.trainers-page-container {
  background: rgba(0, 0, 0, 0.781);
  height: 100%;
}
.trainers-title {
  padding-top: 2rem;
  text-align: center;
  font-size: 3rem;
  color: var(--primary-color);
}
.trainers-title > h1 {
  margin: 0 0 2rem 0;
}
.trainers-cards-container {
  width: 90vw;
  padding-bottom: 2rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.trainer-card-container {
  background: white;
  margin: 0.2rem 0.5rem;
  width: 250px;
  height: 400px;
}
.trainer-image {
  display: block;
  border: 2px solid var(--primary-color);
  margin: 0.75rem auto 0.5rem auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.trainer-name {
  font-size: 2rem;
  text-align: center;
}
.trainer-position {
  font-size: 1.5rem;
  text-align: center;
}
.trainer-specialty {
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  font-size: 1rem;
  text-align: center;
}
@media (max-width: 425px) {
  .trainers-title {
    font-size: 2rem;
  }
}
/* Trainers Page End */

/* Footer Start */
.footer-container {
  position: relative;
  bottom: 0;
  left: 0;
  background: var(--primary-color);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-text {
  margin-left: 50px;
  font-size: 36px;
}
.social-media-icons {
  width: 210px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-media-icon {
  font-size: 36px;
}
/* Footer End */
